<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Restaurant Orders</title>
    <style>
        /* -------------------------------------
            RESPONSIVE AND MOBILE FRIENDLY STYLES
        ------------------------------------- */
        @import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

        .email-masthead {
          padding: 25px 0;
          text-align: center;
          background-color: #F47820;
        }

        .email-masthead_logo {
          width: 94px;
        }

        .email-masthead_name {
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          text-decoration: none;
        }
        @media only screen and (max-width: 640px) {
            body {
                padding: 0 !important;
            }
            h1,
            h2,
            h3,
            h4 {
                font-weight: 800 !important;
                margin: 20px 0 5px !important;
            }
            h1 {
                font-size: 22px !important;
            }
            h2 {
                font-size: 18px !important;
            }
            h3 {
                font-size: 16px !important;
            }
            .container {
                padding: 0 !important;
                width: 100% !important;
            }
            .content {
                padding: 0 !important;
            }
            .content-wrap {
                padding: 10px !important;
            }
            .invoice {
                width: 100% !important;
            }
            .ls-header {
                letter-spacing: 3px !important;
            }
        }
    </style>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
                        <tr>
                            <td class="content-wrap">
                                <meta itemprop="name" content="Confirm Email" />
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td class="email-masthead">
                                        <a href="https://example.com" class="email-masthead_name">
                                            <img src="https://www.lunchsociety.ca/assets/img/lunch-society-white-logo.png"/>
                                        </a>
                                      </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block ls-body">
                                            Hi <%= owner.first_name %> <%= owner.last_name %>,
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="content-block">
                                            Here are your <strong><%= meals[0].offers[0].orders.length %></strong>
                                            orders for <%= meals[0].name %> for your restaurant, <%= name %>, on <strong><%= meals[0].offers[0].offer_date.toDateString() %></strong>
                                        </td>
                                    </tr>
                                    <% meals[0].offers[0].orders.forEach(order => { %>
                                    <tr>
                                        <td class="content-block">
                                            <ul>
                                                <li><%= order.id %>
                                                    <%= order.customer.first_name %> <%= order.customer.last_name %>
                                                    - <%= order.pickup_time.pickup_time %>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer">
                        <table width="100%">
                            <tr>
                              <td>
                                <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td class="content-cell" align="center">
                                      <p class="sub align-center">&copy; 2017 LunchSociety. All rights reserved.</p>
                                      <p class="sub align-center">
                                        LunchSociety, Inc.
                                        <br>449 Drake Circle
                                        <br>Waterloo, Ontario
                                        <br>Canada
                                      </p>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>

</body>

</html>
